<%- unless @person.recent_activity.empty? -%>
  <h2>Recent Exchanges</h2>
  

  
  <ul class="list activity small">
     <%= render :partial => 'shared/exchange',
                :collection => @person.exchanges %>
  </ul>
<%- end -%>
