<%- unless @person.recent_activity.empty? -%>
  <h2 class='blue'>Recent Activity</h2>

  <ul class="list activity small blue">
     <%= render :partial => 'shared/activity',
                :collection => @person.recent_activity
              #  :locals => { :destroy => (current_person? @person) } 
%>
  </ul>
<%- end -%>
