<%- if logged_in? -%>
  <div class="wall">
    <h2>Wall</h2>
    <a name="wall"></a>
    <%- unless @person.comments.empty? -%>
      <ul class="list comments full">
        <%= render :partial => 'comment', :collection => @person.comments %>
      </ul>
    <%- end -%>    

<h2>Make a Comment</h2>
    <p style='clear:both'><%= formatting_note %></p>
    
      <% form_for :comment, :url => person_comments_path(@person) do |f| %>
        <div class="form_row">
          <%= f.text_area :body, :rows => 3 %>
        </div>
  
        <div class="form_row">
          <%= submit_tag "Submit", :class => "button" %>
        </div>
      <% end %>



  </div>
<%- end -%>
