/* Main layout */

body {
  text-align: center;
}
#header-wrap {
  background: #136f18 url('/images/cec_header_background.jpg') no-repeat top center;
  float: left;
  width: 100%;
}
#wrap, #header, #footer {
  margin: 0 auto;
  text-align: left;
  width: 844px;
}
a:active, a:focus {outline: none;text-decoration:underline;}

/*
#wrap{
  margin: 0 auto;
  text-align: left;
  width: 844px;
	
}
*/

#content {
  padding-top:10px;
  width: 844px;
  float: left;
}

div#atenroot img{
	width:100px;
}

div#atenroot{
	margin-left:-100px;
	width:100px;
	float:left;
}
.status-btn {
  padding: 10px 10px 0px 0px;
  text-align: center;
  margin-top:.5em;
}

input.update-button {background-color:#f2f2f2;color:#FFF;font-size:1em;font-weight:bold;border: 1px solid black;cursor:pointer;margin-top:10px;padding:3px;float:right;margin-right:12px}

div.status-btn input.round-btn {
    background:url('../images/round-btn.gif');
    width:115px;height:32px;border:0;
    color:#fff;font-size:14px;margin-left:3px;
    font-weight:bold;
    text-transform:lowercase;
}
div.status-btn input.round-btn:hover {background:url('../images/round-btn-hover.gif');width:115px;height:32px;border:0;
color:#169A20;font-size:14px;margin-left:3px;}
div.status-btn input.disabled, div.status-btn input.disabled:hover { background:url('../images/round-btn.gif'); color: #aaa; cursor:default;}

.col1 {
  float: left;
  width: 550px;
}
.col2 {
  float: right;
  width: 260px;
}
.single-col .col1 {
  margin-left:140px;
}

/* Header */
#header {
  position: relative;
  height: 120px;
}

#header h1 {
  float: left;
  margin-top: 12px;
  margin-bottom: 12px;
  width: 144px;
}


/* Header-nav */
#nav {
  margin: 84px 0 0 0;
/*  width: 700px;*/
  float: right;
}
#nav li {
  background: #009908 url(/images/aten_header-grad.jpg) bottom repeat-x;
  float: left;
  height: 36px;
  line-height: 36px;
  list-style-type: none;
  margin: 0 0 0 0;
  padding: 0;
  text-align: center;
  width: 70px;
/*  padding:0px 11px;*/
}
#nav li a {
  color: #fff;
  display: block;
  height: 36px;
  font-size: 12px;
}
#nav li a:hover {
  background: url(/images/aten_header-grad-inv.jpg) top repeat-x;
}
#nav li.active a, #nav li.active a:hover {
  background: #fff;
  color: #009908;
}
#nav li.n-home {
  margin-left: 0;
}

#nav li.n-categories {
  width: 82px;
}

#nav li.n-messages {
  width: 74px;
}

#nav li.n-about {
  width: 56px;
}

#nav li.n-steps {
  width: 54px;
}

#nav li.n-q\/a {
  width: 36px;
}

#nav li.n-memberships {
  width: 102px;
}

#nav li.n-contact {
  width: 64px;
}

#footer {
  border-top: 1px solid #ccc;
  clear: both;
  margin-top: 48px;
  padding: 24px 0;
  width: 844px;
  
}

/* Welcome message */
p.welcome {
  position: absolute;
  right: 0px;
  text-align: right;
  top: 5px;
}
/*p.welcome br { display:none; }*/



/* Site elements */

/* List */
.list {
  margin-right: 6px;
}
.list li {
  border-bottom: 1px solid #eee;
  background: none;
  clear: both;
  display: inline;
  float: left;
  list-style: none;
  margin: 0 0 12px 6px;
  padding: 0 0 6px 0;
}
.list .profile-image {
  clear: left;
  float: left;
  display: inline;
}
.list.full .profile-image {
  float: left;
  width: 72px;
  overflow: hidden;
  position: relative;
  width: 102px;
}
.list.small .profile-image {
  position: relative;
  width: 50px;
}
.list.small li {
  display: block;
  width:248px;
}
.list.small p {
    padding-left:5px;
}
.list .forum p {
  margin-bottom: 1em;
  
}
.list.small p {
  font-size:12px;
  margin-left:50px;
  margin-bottom:0px;
}
.list.full .profile-image img {
  border: 1px solid #fff;
}
.list .profile-image img.icon {
  position: absolute;
  right: 3px;
  top: 0;
}

.blog p {
  margin-left: 0;
  margin-bottom: 1em;
}
.list li ul {
  margin-bottom: 2em;
}
.list li ul li {
  background: url(/images/bullet.png) top left no-repeat;
  border: 0;
  margin: 0 0 .5em 0;
  padding-left: 24px;
}

.list li li.reply {
  border-top: 1px solid #eee;
  border-bottom: 0;
  margin-left: 84px;
  margin-top: 12px;
  padding: 12px 0 0;
  width: 398px;
}

/* Grid */
.grid {
  clear: both;
  float: left;
  width: 100%;
}
.grid li {
  background: none;
  display: inline;
  float: left;
  list-style-type: none;
  padding: 0;
}
.col2 .contacts.grid li {
  height: 36px;
  margin: 0 0 6px 6px;
  overflow: hidden;
  width: 36px;
}
.grid.medium li {
  background: url(/images/blue-grad.jpg) bottom repeat-x;
  border: 1px solid #ccc;
  height: 48px;
  margin: 0 0 12px 6px;
  width: 154px;
}
.grid.medium li, .grid.medium p {
  font-size: 12px;
}
.grid.medium img {
  float: left;
  /*clip: rect(36px, 36px, 36px, 36px);*/
  margin: 0 6px 6px 0;
}
.grid.medium a {
  display: block;
  height: 100%;
  margin: 6px;
}


/* Profile */

.profile .toolbox {
  clear: left;
  float: left;
  margin: 0 0 12px 5px;
  width: 540px;
}
.profile img.photo {
  width:240px;
  margin-bottom: 12px;
}
.profile .note {
  margin-left: 252px;
}
.profile .toolbox ul {
    background: url(/images/black-grad.jpg) bottom repeat-x;
  border: 1px solid #ccc;
  width: 275px;
}
.profile ul.tools li {
  background: none;
  font-size: 12px;
/*  list-style-type: disc;*/
  margin: 6px 6px 6px 12px;
  padding: 0;
}
form#blogpost #post_title, form#blogpost #post_body {
  width: 312px;
}


/* Messages */

#message-nav {
  background: url(/images/silver-grad.jpg) bottom repeat-x;
  float: left;
  height: 24px;
  position: relative;
  width: 100%;
}
#message-nav li {
  background: none;
  float: left;
  font-size: 14px;
  line-height: 24px;
  list-style-type: none;
  margin: 0;
  text-align: center;
  padding: 0;
  width: 78px;
}
#message-nav li.active a, #message-nav li a:hover {
  background: url(/images/silver-grad-inv.jpg) bottom repeat-x;
}
#message-nav li.compose {
  background: url(/images/compose-t.png) top no-repeat;
  float: right;
  line-height: 10px;
  margin: 3px 3px 0;
  width: 154px;
}
#message-nav li.compose a, #message-nav li.compose a:hover {
  background: url(/images/compose-b.png) bottom no-repeat;
  color: #fff;
  margin-top: 4px;
  padding-bottom: 4px;
}
#message-nav li a {
  color: #333;
  font-weight:bold;
  display: block;
  height: 100%;
}
.message .tools {
  margin-right: 6px;
  text-align: right;
}


/* Bug fixes */
form, div, h2, ul, li {zoom: 1;}
* html .col2 {width: 234px;}
* html .list li li.reply {
  display: inline;
  margin-left: 84px;
  margin-top: 12px;
  padding: 12px 0 0 0;
  width: 398px;
}
* html .list.blog li.post {
  display: inline;
  width: 440px;
}
* html #frmSearch input.txt {
  width: 130px;
}
* html .single-col .col1 {
  margin: 0 105px;
  width: 324px;
}

p.poweredby{
	float:right;
}

div.desc-message{
 	position: relative;
	width:500px;	
	margin-bottom:20px;
}






ul.categories
{
}
ul.categories ul
{
    margin-bottom:0px;
}
ul.categories li
{
    border:1px solid #ddd;
    padding:5px;
    margin:0px;
    margin-left:20px;
    background: white url("/images/silver-grad-inv.jpg") repeat-x top left;
    font-size:16px;
    color:#333;
}
ul.categories a
{
    color:#333;
}
ul.categories li ul li.selected
{
    background:white;
}
ul.categories li.selected a
{
    text-decoration:underline;
}
ul.categories a.categoryMenuItem, ul.categories li.selected a.selected
{
    color:#777;
}
a.categoryMenuItem:hover
{
  text-decoration:underline;
}
ul.categories li ul li
{
    border:0px;
    list-style-type:disc;
    background:white;
}

.blankstate
{
    text-align:center;
}



/* label for activity type, show in categories/xx   */
.req em
{
    color:#195BAC;
    font-family:Georgia,Times,serif;
}


#nav .n-requests, #nav .n-friends
{
    padding-right:30px;
}

#nav li.n-how
{
    width:127px;
}
#nav li.n-membership
{
    width:170px;
}
#nav li.n-community
{
    width:190px;
}


.bid p.description
{
    color:#333;
    margin-top:5px;
    padding-left:10px;
    margin-left:103px;
    border-left:1px solid #ddd;
}

li.req ul, li.vcard ul, .forum ul
{
/*    margin-left:102px;*/
}


ul.comments blockquote, .req blockquote, li.vcard blockquote
{
    padding:4px;
    margin-bottom:4px;
}
blockquote p, .list blockquote p, .req blockquote p
{
    margin-left:0px;
}

.toolbox ul.tools
{
    float:right;
}
.toolbox p.meta
{
    clear:right;
    float:right;
    width:275px;    
}
.toolbox em
{
    font-weight:normal;
    font-style:normal;
    color:#1D6AC9;
}


p
{
    margin-bottom:4px;
}
p.formatting
{
    float:right;
    color:#333;
    font-size:11px;
    padding:3px;
    border:1px solid #ddd;
    width:150px;
    height:80px;
}
p.formatting span
{
    text-align:right;
    font-size:12px;
    color:#777;
}




.col_content
{
    padding:5px;
    width:425px;
    margin-left:103px;
    margin-right:2px;
    border:1px solid #ddd;
    background:white url(/images/black-grad.jpg) bottom repeat-x;
}

.col_content:after{clear:both;content:'.';display:block;visibility:hidden;height:0}
.clearfix{display:inline-block}
* html .clearfix{height:1%}
.clearfix{display:block}



ul:after
{
clear:both;content:'.';display:block;visibility:hidden;height:0
}


.col2 a
{
    color:#169A20;
    color:#057d0e;
    font-size:13px;
}
.col2 p
{
    color:#666;
}
 .col2 h2
{
    background:url(/images/green-grad-top.jpg) 0px -12px repeat-x;
    text-transform:lowercase;
    color:#0e5f14;
    text-align:center;
    border-top:1px solid #aac9ad;
}
.col2 p.meta
{
    color:#999;
}



.col1 a
{
    color:#1d6ac9;
}
.col1 h2
{
    border-top:1px solid #bcd4f0;
    background:url(/images/blue-grad-top.jpg) repeat-x 0px -12px;
}
.col1 a:hover
{
}
.col1 .list li
{
    border:0px;
    width:540px;
}


a.show-follow
{
}



h2
{
    text-transform:none;
    text-align:center;
}
.col1 h2
{
    color:#195bac;
    text-transform:none;
    text-align:left;
}
h2.blue
{
    color:#195bac;
    background:url(/images/blue-grad-top.jpg) repeat-x 0px -12px;
    border-top:1px solid #bcd4f0;
}
.blue a
{
    color:#1D6AC9;
}


span.name
{
    text-transform:capitalize;
}


a.meta, .meta a
{
    color:#888;
}
.meta a:hover
{
}

.categorycol
{
  padding-top:20px;
}
#categoryMenu
{
  float:left;
  width:410px;
}
#categoryMenu2
{
  float:left;
    width:410px;
}

.blog h3, .blog h3 a, .blog h3 a:visited
{
    color:black;
    text-transform:none;
    padding:0px;
}



.profile ul.tools li
{
    position:relative;
    top:0px;
}
.profile ul.tools img
{
    position:relative;
    top:3px;
    padding-right:6px;
}





.col2 input.button
{
    background:#cde3cd;
    border:1px solid #96b896;
    color:#0E5F14;
    font-weight:bold;
    height:30px;
}
.col2 input.txt
{
    border:1px solid #96b896;
    color:#0E5F14;
    height:16px;
}


.col1 input, .col1 textarea, .col1 select
{
    border:1px solid #7EB0ED;
}
.col1 .button
{
}





li.bid input, .col1 #bid_submit, .col1 #req_submit, .col1 input.button, .col1 #exchange_submit, .col1 #event_submit
{
    border:1px solid #7eb0ed;
    color:#1D6AC9;
    font-weight:bold;
    background:#e2ecf9;
    padding:6px;
}

li.bid form
{
    float:none;
}
li.bid form.center
{
    text-align:center;
}
li.bid label
{
    display:inline;
    color:#195BAC;
}
li.bid .feedback
{
    color:#195BAC;
    font-weight:bold;
    text-align:left;
}
li.bid .feedback img
{
    padding-right:4px;
}





.login div.col1, .login div.col2, .blog div.col2
{
    text-align:center;
}
.login div.col1 img
{
}
.login label.checkbox, .blog div.col2 label.checkbox
{
    float:none;
}






select
{
}




.register h1
{
    font-size:25px;
    margin:15px 0px;
}






.message .show-follow a:visited
{
    color:#621dc9;
}


input.button:active
{
    color:white;
}




.messages li.message, .forum li.topic
{
    width:525px;
}









.register input,.register textarea,.register select
{
    border:1px solid #444;
    color:black;
}
body.register input.button
{
    border:1px solid #444;
    color:black;
    background:#ddd;
}






#active_form
{
    float:none;
    display:inline;
    margin:0px;
}
#active_form div
{
    display:none;
}
 
 



body.person li.req .col_content
{
   margin-left:0px;
   width:525px;
}
body.person li.req img.icon
{
   position:relative;
   right:0px;
}
body.person li.req div.profile-image
{
   width:20px;
}
body.person .col1 h2
{
}




ol li
{
    list-style-type:upper-alpha;
}
ol ol li
{
    list-style-type:upper-roman;
}











body.home h3
{
    text-transform:none;
    margin-top:17px;
}
body.home p
{
    font-size:15px;
    text-indent:20px;
}
body.home li p
{
    text-indent:0px;
}
body.home blockquote
{
    color:#222;
    font-style:normal;
    width:650px;
    margin:0px auto;
}
body.home blockquote p
{
    font-size:19px;
}




body.login h1
{
    font-size:23px;
    text-align:center;
    font-family:Georgia,Times,serif;
    margin-bottom:10px;
    line-height:1.4em;
    margin-top:15px;
    color:black;    
}
body.login h1 .name
{
    font-size:14px;
    color:#999;
}
body.login h2
{
    text-align:center;
    background:white;
    border:1px;
    margin-top:38px;
    color:black;
}
body.login hr
{
    border:0px;
    border-top:1px solid #ddd;
    width: 800px;
    margin:0px auto;
    margin-bottom:20px;
    z-index:5;
}
body.login #center
{
display:none;
    text-align:center;
    position:relative;
    z-index:5;
    top:-315px;
    line-height:1.7em;
    font-size:20px;
}
body.login #flowcircle
{
    position:relative;
    height:650px;
}
body.login #switcher
{
    position:absolute;
    text-align:center;
    top:197px;
    left:157px;
    width:225px; 
    height:220px;
    z-index:12;
    line-height:1.7em;
    font-size:20px;
}
body.login #switcher div
{
  display:none;
}
body.login #switcher div.login
{
  display:block;
  margin-top:56px;
}
body.login #switcher div
{
  position:absolute;
  width:225px; 
}
body.login #areas
{
  position:absolute;
  z-index:7;
}
body.login #areas .area
{
  position:absolute;
  z-index:10;
  background:url(/images/transparent.gif);
}
body.login #areas .area:hover
{
  background:white;
  filter: alpha(opacity = 40);
  opacity:.4;
}

li.req .profile-image .name
{
    font-size:12px;
}