<h2>What's Going On</h2>
<ul class="list activity small">
<%- if logged_in? -%>

    <%= render :partial => 'shared/minifeed_item',
               :collection => Activity.minifeed
	   %>
<%- else -%>

<%- end -%>
</ul>
