<%- column_div :type => :primary do -%>
<h2>Upcoming Events</h2>

<ol class="list full">
  <%= render :partial => @events %>
</ol>

<% end -%>


<% column_div :type => :secondary do -%>

<div class="status-btn">
  <input type="button" name="update" value="Create Event" id="update-submit" class="round-btn" onclick="document.location='<%= new_event_path %>';" />
</div>

  <%= render :partial => 'calendar',
             :locals => { :events => @month_events, :date => @date } %>

<% end -%>
