<h2>Friends Involved</h2>
<ul class="list activity small">
  <%- if category.people.empty? -%>
  <h3 class="blankstate">No friends have joined yet</h3>
  <%- else -%>
  <%= render :partial => 'person', :collection => category.people %>
  <%- end -%>
</ul>
